form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 45vh;
  margin: 40px auto;
}

.App input {
  border-radius: 5px;
}

.App button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 8px 0px;
  font-family: monospace;
}
